table.hoverable tbody tr:hover {
    background-color: #fdfd00;
}

table.border {
    border-collapse: collapse;
}

table.border tr td {
    border:1px solid #d0d0d0;
}

table.border thead th{
    border:1px solid #d0d0d0;
}

div.posicionar{
    padding: 20px;
}

fieldset > legend{
    padding: 0.6em 1em;
    border: 1px solid #a8a8a8;
    background: #bdbdbd -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    font-weight: bold;
    text-shadow: 0px 1px 0px;
}

h3{
    margin-top: inherit;
}