table.hoverable tbody tr:hover {
    background-color: #fdfd00;
}

table.border {
    border-collapse: collapse;
}

table.border tr td {
    border:1px solid #d0d0d0;
}

table.border thead th{
    border:1px solid #d0d0d0;
}

div.posicionar{
    padding: 20px;
}

fieldset > legend{
    padding: 0.6em 1em;
    border: 1px solid #a8a8a8;
    background: #bdbdbd -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    font-weight: bold;
    text-shadow: 0px 1px 0px;
}

.character-counter{
    margin-top: -15px;
}

h3{
    margin-top: inherit;
}

#toast-container .toast {
    width: 350px;
}

.handLink{
    cursor: pointer;
}

@media screen and (min-width: 1326px) {
    div#toast-container.toast-top-right{
        margin-top: -85px;
        margin-right: -75px;
    }
    .modal{
        margin-top: 140px;
        width: 500px;
        text-align: left;
    }
}

@media screen and (min-width: 1560px) {
    div#toast-container.toast-top-right{
        margin-top: -100px;
        margin-right: -90px;
    }
    .modal{
        margin-top: 200px;
        width: 500px;
        text-align: left;
    }
}