<div class="posicionar">
    <div class="row">
        <a class="btn-floating pulse grey lighten-1" href="#!novo" title="Adicionar"><i class="material-icons">add</i></a>
    </div>
    <div class="row">
        <table class="centered hoverable responsive-table striped border">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>SobreNome</th>
                    <th>Login</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarioCtrl.usuarios">
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.sobrenome}}</td>
                    <td>{{usuario.login}}</td>
                    <td>
                        <a class="btn-floating pulse grey lighten-1" href="#!detalhar/{{usuario.id}}" title="Detalhar"><i class="material-icons">toc</i></a>
                        <a class="btn-floating pulse grey lighten-1" href="#!edit/{{usuario.id}}" title="Editar"><i class="material-icons">edit</i></a>
                        <a class="btn-floating pulse grey lighten-1" href="#!cadastro" title="Remover"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>